<footer class="footer mt-auto pt-1">
    <div class="text-center pb-2" style="background-color:#393E46; color:white;">
        <hr class="my-3">
        <p class="mb-0">&copy; <span id="year"></span> BlogNest. All Rights Reserved.</p>
    </div>
</footer>

<script>
    document.getElementById("year").textContent = new Date().getFullYear();
</script>